:root {
    --color-green: #6ca965;
    --color-yellow: #c8b653;
    --color-gray: #787c7f;
    --color-black: #000000;
    --color-white: #ffffff;

    --font-title: 3rem;
    --font-subtitle1: 2rem;
    --font-subtitle2: 1.5rem;
    --font-paragraph: 0.9rem;

    --backgroundsquaresize: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}

/* INSTRUCTIONS/TITLE */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85rem;
    padding: 1.1rem 1.1rem -10vh 1.1rem;
}
.title img:first-child {
    height: 7rem;
    width: auto;
}
.title img:last-child {
    height: 8rem;
    width: auto;
}
.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85rem;
    padding: 1.1rem 1.1rem 5vh 1.1rem;
}
.theme > h1 {
    font-size: var(--font-title);
}

/* INSTRUCTIONS/START GAME */

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85rem;
    padding: 1.1rem 1.1rem 5vh 1.1rem;
}
.play > h2 {
    font-size: var(--font-subtitle1);
}

/* INSTRUCTIONS/INSTRUCTIONS */

.tutorial {
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    gap: 0.85rem;
    padding: 2rem 6rem 2vh 6rem;
}
.tutorial > h3 {
    font-size: var(--font-subtitle2);
}
.tutorial > p {
    font-size: var(--font-paragraph);
}
.color_explanation {
    list-style: none;
}
.color_group {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
}
.color_group > div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.color_group > div > h3 {
    font-size: var(--font-subtitle2);
}
.color_group > div > p {
    font-size: var(--font-paragraph);
}
.green_color {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    text-transform: uppercase;
    border-radius: 20%;
    padding: 3rem;
    margin: 1rem;
}
.yellow_color {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-yellow);
    text-transform: uppercase;
    border-radius: 20%;
    padding: 3rem;
    margin: 1rem;
}
.gray_color {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
    text-transform: uppercase;
    border-radius: 20%;
    padding: 3rem;
    margin: 1rem;
}

/* GALLERY */
.gallery_monitor,.gallery_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.85rem;
    padding: 0 6rem 2vh 6rem;
}
.gallery_monitor > p,.gallery_phone > p {
    font-size: var(--font-subtitle2);
    padding: 0 5% 0 5%;
}
.gallery_phone {
    display: none;
}
.gallery_group {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.gallery_group > div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
.game {
    height: 12rem;
    width: auto;
    padding: 0;
    margin: 0.5rem;
    border-radius: 15%;
}

/* BACKGROUND */
.bg-square-group {
    position: fixed;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    pointer-events: none;
}
.group1 {
    top: 30vh;
    left: 0px;
    box-shadow:
        0px    0px    0 0 var(--color-green),
        3rem   0px    0 0 var(--color-yellow),
        0rem   3rem   0 0 var(--color-green),
        0rem   6rem   0 0 var(--color-yellow),
        3rem   3rem   0 0 var(--color-green);
}
.group2 {
    top: 60vh;
    left: 0px;
    box-shadow:
        0px   0px    0 0 var(--color-yellow),
        3rem  0px    0 0 var(--color-green),
        3rem  3rem   0 0 var(--color-yellow),
        0px   3rem   0 0 var(--color-green),
        0px   6rem   0 0 var(--color-yellow);
}
.group3 {
    top: 20vh;
    left: calc(100vw - 9rem);
    box-shadow:
        0px    0px    0 0 var(--color-yellow),
        3rem   0px    0 0 var(--color-green),
        6rem   0px    0 0 var(--color-yellow),
        3rem   3rem   0 0 var(--color-green),
        3rem   6rem   0 0 var(--color-yellow);
}
.group4 {
    top: 65vh;
    left: calc(100vw - 9rem);
    box-shadow:
        0px    0px    0 0 var(--color-green),
        3rem   0px    0 0 var(--color-yellow),
        3rem   3rem   0 0 var(--color-green),
        6rem   3rem   0 0 var(--color-yellow),
        6rem   6rem   0 0 var(--color-green);
}

@media (max-width: 720px) {
    .title img:first-child {
        height: 5rem;
    }
    .title img:last-child {
        height: 6rem;
    }
}

@media (max-width: 600px) {
    .title {
        padding: 0.8rem;
        gap: 0.5rem;
    }
    .title img:first-child {
        height: 3rem;
    }
    .title img:last-child {
        height: 3.5rem;
    }
    body{
        background-color: antiquewhite;
    }
    .gallery_monitor{
        display: none;
    }
    .gallery_phone{
        display: flex;
    }
    .gallery_monitor > p,.gallery_phone > p {
        padding: 0;
    }
}